.action-buttons {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 66px;
  margin-left: 12px;
}

.action-buttons > Button {
  display: flex;
  justify-content: center;
  align-items: center;
}
